<!doctype html>
<html>
  <head>
    <%= partial 'head' %>
    <%= stylesheet_link_tag 'guides' %>
  </head>

  <body>
    <%= partial 'navbar' %>
    <div class="container docs-content">
      <ul id="markdown-toc">
        <li></li>
        <li class="toc-group">
          <a href="/guides">Introduction</a>
        </li>
        <li class="toc-group">
          <a href="/guides/serialization">Serialization</a>
          <ul>
            <li><a href="/guides/serialization/defining.html">Defining resources</a></li>
            <li><a href="/guides/serialization/rendering.html">Rendering resources</a></li>
            <li><a href="/guides/serialization/errors.html">Rendering errors</a></li>
          </ul>
        </li>
        <li class="toc-group">
          <a href="/guides/deserialization">Deserialization</a>
          <ul>
            <li><a href="/guides/deserialization/defining.html">Defining resources</a></li>
            <li><a href="/guides/deserialization/deserializing.html">Deserializing resources</a></li>
          </ul>
        </li>
      </ul>
      <%= yield %>
    </div>

    <%= partial 'footer' %>
    <%= partial 'analytics' %>
  </body>
</html>
