<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <title><%= current_page.data.title || "jsonapi-rb" %></title>

    <%= stylesheet_link_tag 'toolkit' %>
    <%= stylesheet_link_tag 'solarized' %>
    <%= stylesheet_link_tag 'application' %>
  </head>

  <body>
    <%= partial 'navbar' %>
    <div class="container">
      <%= yield %>
    </div>

    <%= partial 'footer' %>
    <%= javascript_include_tag 'jquery.min' %>
    <%= javascript_include_tag 'toolkit' %>
    <%= partial 'analytics' %>
  </body>
</html>
