---
title: jsonapi-rb
---

<div class="text-center">
  <h1 class="block-title m-b-sm text-uppercase brand-name">jsonapi-rb</h1>
  <p class="lead m-b-lg p-b-md">Efficient and convenient
    <a href="http://jsonapi.org">JSON API</a> library for ruby.</p>
</div>

<div class="block block-bordered-lg p-b-0 app-block-design">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#serializable" aria-controls="download" role="tab"
         data-toggle="tab">Serializable</a>
    </li>
    <li role="presentation">
      <a href="#deserializable" aria-controls="download" role="tab"
         data-toggle="tab">Deserializable</a>
    </li>
    <li role="presentation">
      <a href="#plain" aria-controls="download" role="tab"
         data-toggle="tab">Plain ruby</a>
    </li>
    <li role="presentation">
      <a href="#rails" aria-controls="download" role="tab"
         data-toggle="tab">Rails</a>
    </li>
    <li role="presentation">
      <a href="#hanami" aria-controls="download" role="tab"
         data-toggle="tab">Hanami</a>
    </li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="serializable">
      <%= partial 'peeks/serializable' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="deserializable">
      <%= partial 'peeks/deserializable' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="plain">
      <%= partial 'peeks/plain' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="rails">
      <%= partial 'peeks/rails' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="hanami">
      <%= partial 'peeks/hanami' %>
    </div>
  </div>
</div>
